<a href="https://colab.research.google.com/github/Shivam12220371/Html-and-css/blob/main/Learn_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
print(random.random())

0.08072286534465611

In [ ]:
import random
print(random.randint(1,5))

1

In [ ]:
#string operation
#cliping
b ="cipher class"
print(b[2:5])

phe

In [ ]:
a ="cipher"
b ="school"
print(a)
print(b)
print(a +" "+b)

cipher
school
cipher school

In [ ]:
age =40
sent ="My name is something and my age is {}"
print(sent.format(age))

My name is something and my age is 40

In [ ]:
#list
col =['Manoj', 'kiran', 'shivam', 'ayush']
col.append("Akansha")
col.insert(2, "Janu")
print(col)
print(type(col))

['Manoj', 'kiran', 'Janu', 'shivam', 'ayush', 'Akansha']
<class 'list'>

In [ ]:
#loop
i = 1
while i < 10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9

In [ ]:
#loop & break
i = 1
while i < 10:
  print(i)
  if i == 3:
    break
  i = i+1

1
2
3

In [ ]:
#Rock paper scissors
import random
print("Welcome to the RPS game")
uC = input("Enter a either Rock or Paper or Scissors")
cI = ["Rock", "Paper", "Scissors"] #cI- computer information, cC- computer choice
cC = random.choice(cI)
print(cC)

Welcome to the RPS game

In [ ]:
number1 = 20.50
number2 = 38.25
print(number1 * number2)
string1 = "Amazon"
string2 = "River"
print(string1 + string2)

784.125
AmazonRiver

In [ ]:
age = 62

if age >= 60:
  print(True)
else:
  print(False)

True

In [ ]:
from IPython.core import interactiveshell
n =int(input())
m =int(input())
k =int(n/m)
print(k)

100
3
33

In [ ]:
# Rock paper scissor
import random

user_choice = input("Enter a choice (rock, paper, scissors): ")
possible_actions = ["rock", "paper", "scissors"]
computer_choice = random.choice(possible_actions)
print(f"\nYou chose {user_choice}, computer chose {computer_choice}.\n")

if user_choice == computer_choice:
  print(f"Both players selected {user_choice}. its a tie!")
elif user_choice == "rock":
   if computer_choice == "scissors":
     print("Rock smashes scissors! You win!")
   else:
     print("Paper covers rock! You lose.")
elif user_choice == "paper":
  if computer_choice == "rock":
    print("Paper covers rock! You win!")
  else:
    print("Scissors cuts paper! You lose.")
elif user_choice == "scissors":
  if computer_choice == "paper":
    print("Scissors cuts paper! You win!")
  else:
    print("Rock smashes scissors! You lose.")

Enter a choice (rock, paper, scissors): rock

You chose rock, computer chose rock.

Both players selected rock. its a tie!

In [ ]:
import math
a = min(1,2,3)
b = max(1,2,3)
c = math.floor(2.1)
d = math.ceil(2.1)
print(c)
print(d)

2
3

In [ ]:
student = ["Shivam","Anurag","Ayush"]
for i in student:
  print(i)

Shivam
Anurag
Ayush

In [ ]:
for i in "Shivam":
  print(i)

S
h
i
v
a
m

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
#if you want to print the range from 2, not from initial by using for loop
for i in range(2,5):
  print(i)

2
3
4

In [ ]:
student = ["anurag","sunil","tanush"]
for i in student:
  if i == "sunil":
    break
  print(i)

anurag

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
#Nested for loop
student = ["anurag","sunil","tanush"]
color = ["red","blue","green"]

for i in student:
  for j in color:
    print(i,j)

anurag red
anurag blue
anurag green
sunil red
sunil blue
sunil green
tanush red
tanush blue
tanush green

In [ ]:
#Nested for loop another practice
number_of_students = ["2","45","567","56"]
words = ["ram","shyam","tanu","yash"]

for i in number_of_students:
  for j in words:
    print(i,j)

2 ram
2 shyam
2 tanu
2 yash
45 ram
45 shyam
45 tanu
45 yash
567 ram
567 shyam
567 tanu
567 yash
56 ram
56 shyam
56 tanu
56 yash

In [ ]:
i = 1
while i<5:
  j = 2
  while j <= 10:
    print(i*j)
    j = j+1
  i = i+1
  print("\n")

2
3
4
5
6
7
8
9
10


4
6
8
10
12
14
16
18
20


6
9
12
15
18
21
24
27
30


8
12
16
20
24
28
32
36
40

In [ ]:
n = int(input("Enter the number"))
for i in range (0, n):
  for j in range (0, i+1):
    print("*", end= "")
  print()

Enter the number5
*
**
***
****
*****

In [ ]:
import random
li = []
for i in range (0,5):
  n = random.randint(1,10)
  li.append(n)
print(li)

[3, 8, 8, 5, 2]

In [ ]:
# isme hamne for loop ka use kar kr ek range liya jisme ek random value ko put kijiye aur output randomly 0 to 9 counting number me hi milega 1 to 20 tak 
li = []
for i in range(0,9):
  n = random.randint(1,20)
  li.append(n)
print(li)

[3, 9, 2, 17, 9, 16, 14, 16, 18]

In [ ]:
#Another Data Type: Tuple [ Tuple is a data type which is unchanged and ordered.]
#Ordered & Unchangeable
a = ("anurag","sunil","shivam")
print(type(a))
print(len(a))
print(a)
print(a[1])

<class 'tuple'>
3
('anurag', 'sunil', 'shivam')
sunil

In [ ]:
a = ("anurag","sunil","shivam")
if "anurag" in a:
 print("yes it is present")

yes it is present

In [ ]:
#if you want to add something in tuple in the place of any data items ,this code is apply to change it
a = ("anurag","sunil","shivam")
b = list(a)
b[1] = "ambi"
a = tuple(b)
print(a)

('anurag', 'ambi', 'shivam')

In [ ]:
# Now if you want to add something in tuple without replacing any data items ...in simple external add
a = ("anurag","sunil","shivam")
b = (1,2,3)
c = a + b
print(c)

('anurag', 'sunil', 'shivam', 1, 2, 3)

In [ ]:
#Another data type: Set 
#Unordered & unchangeable
a = {"anurag","sunil","shivam"}
print(a)

{'anurag', 'shivam', 'sunil'}

In [ ]:
#Another data type: Set .
#Unordered & unchangeable.
#a.add is used to direct add in set data type .
a = {"anurag","sunil","shivam"}
a.add("ambi")
print(a)
print(type(a))

{'anurag', 'shivam', 'sunil', 'ambi'}
<class 'set'>

In [ ]:
#Another data type ; Set.
#if you want to add two set data type.
a = {"anurag","sunil","shivam"}
b = {1,2,3}
c = a.union(b)
print(c)

{1, 2, 3, 'anurag', 'shivam', 'sunil'}

In [ ]:
#Another data type: Dictionary
#ordered & changeable
a = {
    "name": "anurag",
    "company": "cipherschools",
    "college": "Lovely Professional University"
}
print(a)
print(a["name"])

{'name': 'anurag', 'company': 'cipherschools', 'college': 'Lovely Professional University'}
anurag

In [ ]:
#Here we can check true or false in dictionary data type. 
a = {
    "name": "anurag",
    "company": "cipherschools",
    "college": "Lovely Professional University"
}
if "Duniya" in a:
  print("Yes it exits")
else:
  print("it is not exits")

it is not exits

In [ ]:
def pr():
  print("Hi I am being clled by user defined function pr")

pr()

Hi I am being clled by user defined function pr

In [ ]:
def pr(name):
  print(name + "cipher")

pr("Anurag")

Anuragcipher

In [ ]:
def pr(First_name, last_name):
  print(First_name + " " + last_name)

pr("cipher" , "school")

cipher school

In [ ]:
# we use '*' incase of arbitary numbers i.e when your number of arguments are not sure.
def pr(*name):
  print("My name is " + name[1])
pr("Anurag", "Cipher", "Schools")

My name is Cipher

In [ ]:
def pr(name1, name2, name3):
  print("My name is "+ name2)
pr(name1 = "Anurag", name2 ="cipher", name3 ="schools")

My name is cipher

In [ ]:
def pr(name):
  for i in name:
    print(name)
name = ["Anurag", "cipher", "schools"]
pr(name)

['Anurag', 'cipher', 'schools']
['Anurag', 'cipher', 'schools']
['Anurag', 'cipher', 'schools']

In [ ]:
def pr(n):
  return 5 * n
pr(4)

20

In [ ]:
#Recursion on Factorial. Definition Recursion- when a function is calling itself again and again. 
def factorial(n):
  if n == 1:
    return 1
  else:
    return (n * factorial(n-1))

factorial(4)

24

In [ ]:
def sum(n):
  if n<=1:
    return n
  else:
    return n + sum(n-1)
n = 5
sum(5)

15

In [ ]:
a=int(input("Enter a number"))
if a%2==0:
  print("even")
else:
  print("odd")

Enter a number5
odd

In [ ]:
#Prime number: A number divisible by 1 and itself only
num = int(input("Enter the number"))
count = 0
i = 1
while i <= num:
  if num % i == 0:
    count = count + 1
  i=i+1
if count == 2:
  print("Is prime")
else:
  print("Not a prime")

Enter the number5
Is prime

In [ ]:
#another way to make prime number 
num = int(input("Enter the number"))
count = 0
i = 2
while i <= (num-1):
  if num % i == 0:
    count = count + 1
  i=i+1
if count == 0:
  print("Is prime")
else:
  print("Not a prime")

In [ ]:
a = "Anurag" #Global variable

def pr():
  a = "Cipher"

print(a)

Anurag

In [ ]:
palindrome
armstrong
#ek list me user se input lena hai and usse ascending order me printkarna hai

In [ ]:
# python 3 program find the maximum number of pieces
# By given number of cuts

# Function for finding Maximum Pieces
# With n Cuts

def findMaximumPieces(n):

  # To maximum no of pieces
  # X is the horizontal cuts

  x = n // 2

  # Now (x) is the horizontal cuts
  # and (n-x) is vertical cuts, then
  # Maximum number of pieces = (x+1)*(n-x+1)

  return ((x+1) * (n - x + 1))

# Driver code
if __name__ == "__main__":

  # Taking a maximum number of cuts allowed as 3
  n = 3

  # Finding and Printing the Maximum number of Pieces
  print("Max number of pieces for n = " +str( n) +" is " + str(findMaximumPieces(3)))

Max number of pieces for n = 3 is 6